/* Home.css */

/* Ensure the parent div spans the entire screen */
.home {
    height: 100vh;
    width: 100vw;
    background-image: url('/src/assets/pexels-fauxels-3184357.jpg'); 
    background-size: cover; 
    background-position: center;
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 13, 50, 0.723);  
    display: flex;
    align-items: center;
    justify-content: center;

}


.content {
    text-align: center;
    color: #fff;
}

.content h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ffffff3d;
    border-radius: 30px;
    padding: 10px;
    width: fit-content;


}


.content h5 b:hover{
    opacity: 1;
    transition: 200ms;
    color: rgb(25, 11, 87);   
}



.content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    margin: auto;
}

.content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.content button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}

.content LearnMore{
    margin: 10px;
}

.underline{
  text-decoration: none;
}

.underline:hover{
    text-decoration: underline;
    text-decoration-color: white;
  }