
.login-page {
    background-color: #ffffff; 
    min-height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.login-logo {
    max-width: 120px; 
    height: auto;
}
  
.login-form {
    max-width: 400px; 
}
  
 
.forgot-password {
    color: rgba(10, 6, 127, 0.962);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem; 
}
  
.forgot-password:hover {
    text-decoration: solid;
}
  

.btn-purple {
    background-color: rgba(10, 6, 127, 0.962);
    color: white;
    border: none;
    padding: 10px 180px;
    border-radius: 10px;
    white-space: nowrap;
    
}
  
.btn-purple:hover {
    background-color: #5a007d; 
}
  

.highlighted-text {
    color:  rgba(10, 6, 127, 0.962);
    cursor: pointer;
    font-weight: bold;
}
  
.highlighted-text:hover {
    text-decoration: underline;
}
  
 
.form-control {
    border-radius: 5px; 
    padding: 10px;
}
  