
.navbar {
  background-color: transparent !important;
  border: none; 
}

  

.nav-link, .btn-outline-light {
    color: #fff !important;
}
  
.nav-link:hover {
    color: #ffffffb1 !important; 
    text-decoration: underline;
}

#login:hover{
  text-decoration: underline;
}

