.producthomepage{
    height: 100vh;
    /* Full viewport height */
    width: 100vw;
    /* Full viewport width */
    background-image: url('/src/assets/onlinestore2.jpg');
    /* Replace with your image path */
    background-size: cover;
    /* Ensure the image covers the entire area */
    background-position: center;
    /* Center the image */
    position: relative;
    /* For layering the overlay */

}

.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(25, 13, 50, 0.723);  
    /* Black with 50% opacity */
    display: flex;
    align-items: center;
    /* Center items vertically */
    justify-content: center;
    /* Center items horizontally */
}