.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color:#2a135b; 
    color: #fff; 
    padding: 1rem 0;
}
  
.footer a:hover {
  color: #ffffff;
}

.footer .footer-left p {
  margin: 0;
}

.col{
  list-style-type: none;
}

.col li{
  font-size: 1em ;
  color: #ffffff5b;
}

.col a{
  color: #ffffff5b;
  text-decoration: none;

}

.col a:hover{
  text-decoration: underline;
}
